In [11]:
# Import dependencies and setup
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as matplotlib
import matplotlib.dates as matplotlibdates
from matplotlib.dates import date2num
import datetime

In [12]:
# Read csv files and store as DataFrames

atkinson_path = "Resources/atkinson.csv"
atkinson_df = pd.read_csv(atkinson_path)

baroon_pocket_path = "Resources/baroon_pocket.csv"
baroon_pocket_df = pd.read_csv(baroon_pocket_path)

bill_gunn_path = "Resources/bill_gunn.csv"
bill_gunn_df = pd.read_csv(bill_gunn_path)

borumba_path = "Resources/borumba.csv"
borumba_df = pd.read_csv(borumba_path)

cedar_pocket_path = "Resources/cedar_pocket.csv"
cedar_pocket_df = pd.read_csv(cedar_pocket_path)

clarendon_path = "Resources/clarendon.csv"
clarendon_df = pd.read_csv(clarendon_path)

cooloolabin_path = "Resources/cooloolabin.csv"
cooloolabin_df = pd.read_csv(cooloolabin_path)

enoggera_path = "Resources/enoggera.csv"
enoggera_df = pd.read_csv(enoggera_path)

ewen_maddock_path = "Resources/ewen_maddock.csv"
ewen_maddock_df = pd.read_csv(ewen_maddock_path)

gold_creek_path = "Resources/gold_creek.csv"
gold_creek_df = pd.read_csv(gold_creek_path)

hinze_path = "Resources/hinze.csv"
hinze_df = pd.read_csv(hinze_path)

lake_kurwongbah_path = "Resources/lake_kurwongbah.csv"
lake_kurwongbah_df = pd.read_csv(lake_kurwongbah_path)

lake_macdonald_path = "Resources/lake_macdonald.csv"
lake_macdonald_df = pd.read_csv(lake_macdonald_path)

lake_manchester_path = "Resources/lake_manchester.csv"
lake_manchester_df = pd.read_csv(lake_manchester_path)

leslie_harrison_path = "Resources/leslie_harrison.csv"
leslie_harrison_df = pd.read_csv(leslie_harrison_path)

little_nerang_path = "Resources/little_nerang.csv"
little_nerang_df = pd.read_csv(little_nerang_path)

maroon_path = "Resources/maroon.csv"
maroon_df = pd.read_csv(maroon_path)

nindooinbah_path = "Resources/nindooinbah.csv"
nindooinbah_df = pd.read_csv(nindooinbah_path)

north_pine_path = "Resources/north_pine.csv"
north_pine_df = pd.read_csv(north_pine_path)

poona_path = "Resources/poona.csv"
poona_df = pd.read_csv(poona_path)

seq_water_grid_path = "Resources/seq_water_grid.csv"
seq_water_grid_df = pd.read_csv(seq_water_grid_path)

somerset_path = "Resources/somerset.csv"
somerset_df = pd.read_csv(somerset_path)

wappa_path = "Resources/wappa.csv"
wappa_df = pd.read_csv(wappa_path)

wivenhoe_path = "Resources/wivenhoe.csv"
wivenhoe_df = pd.read_csv(wivenhoe_path)

wyaralong_path = "Resources/wyaralong.csv"
wyaralong_df = pd.read_csv(wyaralong_path)

dam_locations_path = "Resources/dam_locations.csv"
dam_lcoations_df = pd.read_csv(dam_locations_path)

In [13]:
# Inspect initial .csv

atkinson_df.head()

       Name        Date  Last Observation (%)  Last Observation (ML)
0  Atkinson  04-03-2017                   5.4                1655.39
1  Atkinson  05-03-2017                   5.4                1655.39
2  Atkinson  06-03-2017                   5.4                1655.39
3  Atkinson  07-03-2017                   5.4                1655.39
4  Atkinson  08-03-2017                   5.4                1655.39

In [23]:
# Convert 'Date' columns in all .csvs to datetime

atkinson_df['Date'] = pd.to_datetime(atkinson_df['Date'], format='%d-%m-%Y')
baroon_pocket_df['Date'] = pd.to_datetime(baroon_pocket_df['Date'], format='%d-%m-%Y')
cedar_pocket_df['Date'] = pd.to_datetime(cedar_pocket_df['Date'], format='%d-%m-%Y')
clarendon_df['Date'] = pd.to_datetime(clarendon_df['Date'], format='%d-%m-%Y')
cooloolabin_df['Date'] = pd.to_datetime(cooloolabin_df['Date'], format='%d-%m-%Y')
enoggera_df['Date'] = pd.to_datetime(enoggera_df['Date'], format='%d-%m-%Y')
ewen_maddock_df['Date'] = pd.to_datetime(ewen_maddock_df['Date'], format='%d-%m-%Y')
gold_creek_df['Date'] = pd.to_datetime(gold_creek_df['Date'], format='%d-%m-%Y')
hinze_df['Date'] = pd.to_datetime(hinze_df['Date'], format='%d-%m-%Y')
lake_kurwongbah_df['Date'] = pd.to_datetime(lake_kurwongbah_df['Date'], format='%d-%m-%Y')
lake_macdonald_df['Date'] = pd.to_datetime(lake_macdonald_df['Date'], format='%d-%m-%Y')
lake_manchester_df['Date'] = pd.to_datetime(lake_manchester_df['Date'], format='%d-%m-%Y')
leslie_harrison_df['Date'] = pd.to_datetime(leslie_harrison_df['Date'], format='%d-%m-%Y')
little_nerang_df['Date'] = pd.to_datetime(little_nerang_df['Date'], format='%d-%m-%Y')
maroon_df['Date'] = pd.to_datetime(maroon_df['Date'], format='%d-%m-%Y')
nindooinbah_df['Date'] = pd.to_datetime(nindooinbah_df['Date'], format='%d-%m-%Y')
north_pine_df['Date'] = pd.to_datetime(north_pine_df['Date'], format='%d-%m-%Y')
poona_df['Date'] = pd.to_datetime(poona_df['Date'], format='%d-%m-%Y')
seq_water_grid_df['Date'] = pd.to_datetime(seq_water_grid_df['Date'], format='%d-%m-%Y')
poona_df['Date'] = pd.to_datetime(poona_df['Date'], format='%d-%m-%Y')
somerset_df['Date'] = pd.to_datetime(somerset_df['Date'], format='%d-%m-%Y')
wappa_df['Date'] = pd.to_datetime(wappa_df['Date'], format='%d-%m-%Y')
wivenhoe_df['Date'] = pd.to_datetime(wivenhoe_df['Date'], format='%d-%m-%Y')
wyaralong_df['Date'] = pd.to_datetime(wyaralong_df['Date'], format='%d-%m-%Y')

In [ ]:
# Calculate average of 'Last Observation (%)' and 'Last Observation (ML)' and add column to DataFrame

In [ ]:
# Calculate averages by year

In [24]:
# Calculate averages by month

In [ ]:
# Calculate averages by decade

In [ ]:
# Plot info for each dam - 1. line (last observation %) / 2. bar (last observation mega-liters)