In [568]:
# Import dependencies and setup
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as matplotlib
import matplotlib.dates as matplotlibdates
from matplotlib.dates import date2num
import datetime

import warnings
warnings.filterwarnings('ignore')

In [593]:
# Read individual csv files and store as DataFrames

atkinson_path = "Resources/dam_levels/atkinson.csv"
atkinson_df = pd.read_csv(atkinson_path)

baroon_pocket_path = "Resources/dam_levels/baroon_pocket.csv"
baroon_pocket_df = pd.read_csv(baroon_pocket_path)

bill_gunn_path = "Resources/dam_levels/bill_gunn.csv"
bill_gunn_df = pd.read_csv(bill_gunn_path)

borumba_path = "Resources/dam_levels/borumba.csv"
borumba_df = pd.read_csv(borumba_path)

cedar_pocket_path = "Resources/dam_levels/cedar_pocket.csv"
cedar_pocket_df = pd.read_csv(cedar_pocket_path)

clarendon_path = "Resources/dam_levels/clarendon.csv"
clarendon_df = pd.read_csv(clarendon_path)

cooloolabin_path = "Resources/dam_levels/cooloolabin.csv"
cooloolabin_df = pd.read_csv(cooloolabin_path)

enoggera_path = "Resources/dam_levels/enoggera.csv"
enoggera_df = pd.read_csv(enoggera_path)

ewen_maddock_path = "Resources/dam_levels/ewen_maddock.csv"
ewen_maddock_df = pd.read_csv(ewen_maddock_path)

gold_creek_path = "Resources/dam_levels/gold_creek.csv"
gold_creek_df = pd.read_csv(gold_creek_path)

hinze_path = "Resources/dam_levels/hinze.csv"
hinze_df = pd.read_csv(hinze_path)

lake_kurwongbah_path = "Resources/dam_levels/lake_kurwongbah.csv"
lake_kurwongbah_df = pd.read_csv(lake_kurwongbah_path)

lake_macdonald_path = "Resources/dam_levels/lake_macdonald.csv"
lake_macdonald_df = pd.read_csv(lake_macdonald_path)

lake_manchester_path = "Resources/dam_levels/lake_manchester.csv"
lake_manchester_df = pd.read_csv(lake_manchester_path)

lake_samsonvale_path = "Resources/dam_levels/lake_samsonvale.csv"
lake_samsonvale_df = pd.read_csv(lake_samsonvale_path)

leslie_harrison_path = "Resources/dam_levels/leslie_harrison.csv"
leslie_harrison_df = pd.read_csv(leslie_harrison_path)

little_nerang_path = "Resources/dam_levels/little_nerang.csv"
little_nerang_df = pd.read_csv(little_nerang_path)

maroon_path = "Resources/dam_levels/maroon.csv"
maroon_df = pd.read_csv(maroon_path)

moogerah_path = "Resources/dam_levels/moogerah.csv"
moogerah_df = pd.read_csv(moogerah_path)

nindooinbah_path = "Resources/dam_levels/nindooinbah.csv"
nindooinbah_df = pd.read_csv(nindooinbah_path)

poona_path = "Resources/dam_levels/poona.csv"
poona_df = pd.read_csv(poona_path)

seq_water_grid_path = "Resources/dam_levels/seq_water_grid.csv"
seq_water_grid_df = pd.read_csv(seq_water_grid_path)

somerset_path = "Resources/dam_levels/somerset.csv"
somerset_df = pd.read_csv(somerset_path)

wappa_path = "Resources/dam_levels/wappa.csv"
wappa_df = pd.read_csv(wappa_path)

wivenhoe_path = "Resources/dam_levels/wivenhoe.csv"
wivenhoe_df = pd.read_csv(wivenhoe_path)

wyaralong_path = "Resources/dam_levels/wyaralong.csv"
wyaralong_df = pd.read_csv(wyaralong_path)

alderley_rainfall_path = "Resources/rainfall/alderley_rainfall.csv"
alderley_df = pd.read_csv(alderley_rainfall_path)

brisbane_rainfall_path = "Resources/rainfall/brisbane_rainfall.csv"
brisbane_df = pd.read_csv(brisbane_rainfall_path)

dam_locations_path = "Resources/dam_locations.csv"
dam_locations_df = pd.read_csv(dam_locations_path)

atkinson_df

          Name        Date  Last Observation (%)  Last Observation (ML)
0     Atkinson   4/03/2017                   5.4                1655.39
1     Atkinson   5/03/2017                   5.4                1655.39
2     Atkinson   6/03/2017                   5.4                1655.39
3     Atkinson   7/03/2017                   5.4                1655.39
4     Atkinson   8/03/2017                   5.4                1655.39
...        ...         ...                   ...                    ...
1816  Atkinson  28/02/2022                 107.5               32686.23
1817  Atkinson   1/03/2022                 104.1               31656.60
1818  Atkinson   2/03/2022                 102.7               31223.76
1819  Atkinson   3/03/2022                 103.0               31324.52
1820  Atkinson   4/03/2022                 102.4               31117.77

[1821 rows x 4 columns]

In [575]:
# Convert 'Date' columns in all .csvs to datetime

atkinson_df['Date'] = pd.to_datetime(atkinson_df['Date'], format="%d/%m/%Y")
baroon_pocket_df['Date'] = pd.to_datetime(baroon_pocket_df['Date'], format="%d/%m/%Y")
bill_gunn_df['Date'] = pd.to_datetime(bill_gunn_df['Date'], format="%d/%m/%Y")
borumba_df['Date'] = pd.to_datetime(borumba_df['Date'], format="%d/%m/%Y")
cedar_pocket_df['Date'] = pd.to_datetime(cedar_pocket_df['Date'], format="%d/%m/%Y")
clarendon_df['Date'] = pd.to_datetime(clarendon_df['Date'], format="%d/%m/%Y")
cooloolabin_df['Date'] = pd.to_datetime(cooloolabin_df['Date'], format="%d/%m/%Y")
enoggera_df['Date'] = pd.to_datetime(enoggera_df['Date'], format="%d/%m/%Y")
ewen_maddock_df['Date'] = pd.to_datetime(ewen_maddock_df['Date'], format="%d/%m/%Y")
gold_creek_df['Date'] = pd.to_datetime(gold_creek_df['Date'], format="%d/%m/%Y")
hinze_df['Date'] = pd.to_datetime(hinze_df['Date'], format="%d/%m/%Y")
lake_kurwongbah_df['Date'] = pd.to_datetime(lake_kurwongbah_df['Date'], format="%d/%m/%Y")
lake_macdonald_df['Date'] = pd.to_datetime(lake_macdonald_df['Date'], format="%d/%m/%Y")
lake_manchester_df['Date'] = pd.to_datetime(lake_manchester_df['Date'], format="%d/%m/%Y")
lake_samsonvale_df['Date'] = pd.to_datetime(lake_samsonvale_df['Date'], format="%d/%m/%Y")
leslie_harrison_df['Date'] = pd.to_datetime(leslie_harrison_df['Date'], format="%d/%m/%Y")
little_nerang_df['Date'] = pd.to_datetime(little_nerang_df['Date'], format="%d/%m/%Y")
maroon_df['Date'] = pd.to_datetime(maroon_df['Date'], format="%d/%m/%Y")
moogerah_df['Date'] = pd.to_datetime(moogerah_df['Date'], format="%d/%m/%Y")
nindooinbah_df['Date'] = pd.to_datetime(nindooinbah_df['Date'], format="%d/%m/%Y")
poona_df['Date'] = pd.to_datetime(poona_df['Date'], format="%d/%m/%Y")
seq_water_grid_df['Date'] = pd.to_datetime(seq_water_grid_df['Date'], format="%d/%m/%Y")
somerset_df['Date'] = pd.to_datetime(somerset_df['Date'], format="%d/%m/%Y")
wappa_df['Date'] = pd.to_datetime(wappa_df['Date'], format="%d/%m/%Y")
somerset_df['Date'] = pd.to_datetime(somerset_df['Date'], format="%d/%m/%Y")
wivenhoe_df['Date'] = pd.to_datetime(wivenhoe_df['Date'], format="%d/%m/%Y")
wyaralong_df['Date'] = pd.to_datetime(wyaralong_df['Date'], format="%d/%m/%Y")

atkinson_df

          Name       Date  Last Observation (%)  Last Observation (ML)
0     Atkinson 2017-03-04                   5.4                1655.39
1     Atkinson 2017-03-05                   5.4                1655.39
2     Atkinson 2017-03-06                   5.4                1655.39
3     Atkinson 2017-03-07                   5.4                1655.39
4     Atkinson 2017-03-08                   5.4                1655.39
...        ...        ...                   ...                    ...
1816  Atkinson 2022-02-28                 107.5               32686.23
1817  Atkinson 2022-03-01                 104.1               31656.60
1818  Atkinson 2022-03-02                 102.7               31223.76
1819  Atkinson 2022-03-03                 103.0               31324.52
1820  Atkinson 2022-03-04                 102.4               31117.77

[1821 rows x 4 columns]

In [576]:
# Calculate total 'Last Observation (ML)' for each dam + SEQ Water Grid

atkinson_total_ML = atkinson_df['Last Observation (ML)'].sum()
baroon_pocket_total_ML = baroon_pocket_df['Last Observation (ML)'].sum()
bill_gunn_total_ML = bill_gunn_df['Last Observation (ML)'].sum()
borumba_total_ML = borumba_df['Last Observation (ML)'].sum()
cedar_pocket_total_ML = cedar_pocket_df['Last Observation (ML)'].sum()
clarendon_total_ML = clarendon_df['Last Observation (ML)'].sum()
cooloolabin_total_ML = cooloolabin_df['Last Observation (ML)'].sum()
enoggera_total_ML = enoggera_df['Last Observation (ML)'].sum()
ewen_maddock_total_ML = ewen_maddock_df['Last Observation (ML)'].sum()
gold_creek_total_ML = gold_creek_df['Last Observation (ML)'].sum()
hinze_total_ML = hinze_df['Last Observation (ML)'].sum()
lake_kurwongbah_total_ML = lake_kurwongbah_df['Last Observation (ML)'].sum()
lake_macdonald_total_ML = lake_macdonald_df['Last Observation (ML)'].sum()
lake_manchester_total_ML = lake_manchester_df['Last Observation (ML)'].sum()
lake_samsonvale_total_ML = lake_samsonvale_df['Last Observation (ML)'].sum()
leslie_harrison_total_ML = leslie_harrison_df['Last Observation (ML)'].sum()
little_nerang_total_ML = little_nerang_df['Last Observation (ML)'].sum()
maroon_total_ML = maroon_df['Last Observation (ML)'].sum()
moogerah_total_ML = moogerah_df['Last Observation (ML)'].sum()
nindooinbah_total_ML = nindooinbah_df['Last Observation (ML)'].sum()
poona_total_ML = poona_df['Last Observation (ML)'].sum()
seq_water_grid_total_ML = seq_water_grid_df['Last Observation (ML)'].sum()
somerset_total_ML = somerset_df['Last Observation (ML)'].sum()
wappa_total_ML = wappa_df['Last Observation (ML)'].sum()
wivenhoe_total_ML = wivenhoe_df['Last Observation (ML)'].sum()
wyaralong_total_ML = wyaralong_df['Last Observation (ML)'].sum()

atkinson_total_ML

4296619.85

In [577]:
# Calculate average of 'Last Observation (ML)' for each dam + SEQ Water Grid

atkinson_avg_ML = atkinson_df['Last Observation (ML)'].mean()
baroon_pocket_avg_ML = baroon_pocket_df['Last Observation (ML)'].mean()
bill_gunn_avg_ML = bill_gunn_df['Last Observation (ML)'].mean()
borumba_avg_ML = borumba_df['Last Observation (ML)'].mean()
cedar_pocket_avg_ML = cedar_pocket_df['Last Observation (ML)'].mean()
clarendon_avg_ML = clarendon_df['Last Observation (ML)'].mean()
cooloolabin_avg_ML = cooloolabin_df['Last Observation (ML)'].mean()
enoggera_avg_ML = enoggera_df['Last Observation (ML)'].mean()
ewen_maddock_avg_ML = ewen_maddock_df['Last Observation (ML)'].mean()
gold_creek_avg_ML = gold_creek_df['Last Observation (ML)'].mean()
hinze_avg_ML = hinze_df['Last Observation (ML)'].mean()
lake_kurwongbah_avg_ML = lake_kurwongbah_df['Last Observation (ML)'].mean()
lake_macdonald_avg_ML = lake_macdonald_df['Last Observation (ML)'].mean()
lake_manchester_avg_ML = lake_manchester_df['Last Observation (ML)'].mean()
lake_samsonvale_avg_ML = lake_samsonvale_df['Last Observation (ML)'].mean()
leslie_harrison_avg_ML = leslie_harrison_df['Last Observation (ML)'].mean()
little_nerang_avg_ML = little_nerang_df['Last Observation (ML)'].mean()
maroon_avg_ML = maroon_df['Last Observation (ML)'].mean()
moogerah_avg_ML = moogerah_df['Last Observation (ML)'].mean()
nindooinbah_avg_ML = nindooinbah_df['Last Observation (ML)'].mean()
poona_avg_ML = poona_df['Last Observation (ML)'].mean()
seq_water_grid_avg_ML = seq_water_grid_df['Last Observation (ML)'].mean()
somerset_avg_ML = somerset_df['Last Observation (ML)'].mean()
wappa_avg_ML = wappa_df['Last Observation (ML)'].mean()
wivenhoe_avg_ML = wivenhoe_df['Last Observation (ML)'].mean()
wyaralong_avg_ML = wyaralong_df['Last Observation (ML)'].mean()

atkinson_avg_ML

2359.4837177375207

In [578]:
# Calculate average of 'Last Observation (%)' for each dam + SEQ Water Grid

atkinson_avg_percent = atkinson_df['Last Observation (%)'].mean()
baroon_pocket_avg_percent = baroon_pocket_df['Last Observation (%)'].mean()
bill_gunn_avg_percent = bill_gunn_df['Last Observation (%)'].mean()
borumba_avg_percent = borumba_df['Last Observation (%)'].mean()
cedar_pocket_avg_percent = cedar_pocket_df['Last Observation (%)'].mean()
clarendon_avg_percent = clarendon_df['Last Observation (%)'].mean()
cooloolabin_avg_percent = cooloolabin_df['Last Observation (%)'].mean()
enoggera_avg_percent = enoggera_df['Last Observation (%)'].mean()
ewen_maddock_avg_percent = ewen_maddock_df['Last Observation (%)'].mean()
gold_creek_avg_percent = gold_creek_df['Last Observation (%)'].mean()
hinze_avg_percent = hinze_df['Last Observation (%)'].mean()
lake_kurwongbah_avg_percent = lake_kurwongbah_df['Last Observation (%)'].mean()
lake_macdonald_avg_percent = lake_macdonald_df['Last Observation (%)'].mean()
lake_manchester_avg_percent = lake_manchester_df['Last Observation (%)'].mean()
lake_samsonvale_avg_percent = lake_samsonvale_df['Last Observation (%)'].mean()
leslie_harrison_avg_percent = leslie_harrison_df['Last Observation (%)'].mean()
little_nerang_avg_percent = little_nerang_df['Last Observation (%)'].mean()
maroon_avg_percent = maroon_df['Last Observation (%)'].mean()
moogerah_avg_percent = moogerah_df['Last Observation (%)'].mean()
nindooinbah_avg_percent = nindooinbah_df['Last Observation (%)'].mean()
poona_avg_percent = poona_df['Last Observation (%)'].mean()
seq_water_grid_avg_percent = seq_water_grid_df['Last Observation (%)'].mean()
somerset_avg_percent = somerset_df['Last Observation (%)'].mean()
wappa_avg_percent = wappa_df['Last Observation (%)'].mean()
wivenhoe_avg_percent = wivenhoe_df['Last Observation (%)'].mean()
wyaralong_avg_percent = wyaralong_df['Last Observation (%)'].mean()

atkinson_avg_percent

7.766392092256835

In [579]:
# Group by year and calculate yearly totals

atkinson_yearly_df = atkinson_df.groupby(atkinson_df['Date'].dt.to_period('Y')).sum()
baroon_pocket_yearly_df = baroon_pocket_df.groupby(baroon_pocket_df['Date'].dt.to_period('Y')).sum()
bill_gunn_year_df = bill_gunn_df.groupby(bill_gunn_df['Date'].dt.to_period('Y')).sum()
borumba_year_df = borumba_df.groupby(borumba_df['Date'].dt.to_period('Y')).sum()
clarendon_yearly_df = clarendon_df.groupby(clarendon_df['Date'].dt.to_period('Y')).sum()
cooloolabin_yearly_df = cooloolabin_df.groupby(cooloolabin_df['Date'].dt.to_period('Y')).sum()
enoggera_yearly_df = enoggera_df.groupby(enoggera_df['Date'].dt.to_period('Y')).sum()
ewen_maddock_yearly_df = ewen_maddock_df.groupby(ewen_maddock_df['Date'].dt.to_period('Y')).sum()
gold_creek_yearly_df = gold_creek_df.groupby(gold_creek_df['Date'].dt.to_period('Y')).sum()
hinze_yearly_df = hinze_df.groupby(hinze_df['Date'].dt.to_period('Y')).sum()
lake_kurwongbah_yearly_df = lake_kurwongbah_df.groupby(lake_kurwongbah_df['Date'].dt.to_period('Y')).sum()
lake_macdonald_yearly_df = lake_macdonald_df.groupby(lake_macdonald_df['Date'].dt.to_period('Y')).sum()
lake_manchester_yearly_df = lake_manchester_df.groupby(lake_manchester_df['Date'].dt.to_period('Y')).sum()
lake_samsonvale_yearly_df = lake_samsonvale_df.groupby(lake_samsonvale_df['Date'].dt.to_period('Y')).sum()
leslie_harrison_yearly_df = leslie_harrison_df.groupby(leslie_harrison_df['Date'].dt.to_period('Y')).sum()
little_nerang_yearly_df = little_nerang_df.groupby(little_nerang_df['Date'].dt.to_period('Y')).sum()
maroon_yearly_df = maroon_df.groupby(maroon_df['Date'].dt.to_period('Y')).sum()
moogerah_yearly_df = moogerah_df.groupby(moogerah_df['Date'].dt.to_period('Y')).sum()
nindooinbah_yearly_df = nindooinbah_df.groupby(nindooinbah_df['Date'].dt.to_period('Y')).sum()
poona_yearly_df = poona_df.groupby(poona_df['Date'].dt.to_period('Y')).sum()
seq_water_grid_yearly_df = seq_water_grid_df.groupby(seq_water_grid_df['Date'].dt.to_period('Y')).sum()
somerset_yearly_df = somerset_df.groupby(somerset_df['Date'].dt.to_period('Y')).sum()
wappa_yearly_df = wappa_df.groupby(wappa_df['Date'].dt.to_period('Y')).sum()
wivenhoe_yearly_df = wivenhoe_df.groupby(wivenhoe_df['Date'].dt.to_period('Y')).sum()
wyaralong_yearly_df = wyaralong_df.groupby(wyaralong_df['Date'].dt.to_period('Y')).sum()

atkinson_yearly_df

      Last Observation (%)  Last Observation (ML)
Date
2017                2695.1              819941.37
2018                3115.1              946613.40
2019                1971.0              597556.10
2020                2073.0              628994.20
2021                2013.9              611992.25
2022                2274.5              691522.53

In [580]:
# Group by month and calculate monthly totals

month_order = ['January', 'February', 'March', 'April', 'May', 'June', 
               'July', 'August', 'September', 'October', 'November', 'December']

atkinson_monthly_df = atkinson_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
atkinson_monthly_df.index = atkinson_monthly_df.index.strftime('%B')
atkinson_monthly_df = atkinson_monthly_df.groupby(['Date']).sum().reset_index()
atkinson_monthly_df['Date'] = pd.Categorical(atkinson_monthly_df['Date'], month_order)
atkinson_monthly_df = atkinson_monthly_df.sort_values('Date')

baroon_pocket_monthly_df = baroon_pocket_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
baroon_pocket_monthly_df.index = baroon_pocket_monthly_df.index.strftime('%B')
baroon_pocket_monthly_df = baroon_pocket_monthly_df.groupby(['Date']).sum().reset_index()
baroon_pocket_monthly_df['Date'] = pd.Categorical(baroon_pocket_monthly_df['Date'], month_order)
baroon_pocket_monthly_df = baroon_pocket_monthly_df.sort_values('Date')

bill_gunn_monthly_df = bill_gunn_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
bill_gunn_monthly_df.index = bill_gunn_monthly_df.index.strftime('%B')
bill_gunn_monthly_df = bill_gunn_monthly_df.groupby(['Date']).sum().reset_index()
bill_gunn_monthly_df['Date'] = pd.Categorical(bill_gunn_monthly_df['Date'], month_order)
bill_gunn_monthly_df = bill_gunn_monthly_df.sort_values('Date')

borumba_monthly_df = borumba_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
borumba_monthly_df.index = borumba_monthly_df.index.strftime('%B')
borumba_monthly_df = borumba_monthly_df.groupby(['Date']).sum().reset_index()
borumba_monthly_df['Date'] = pd.Categorical(borumba_monthly_df['Date'], month_order)
borumba_monthly_df = borumba_monthly_df.sort_values('Date')

cedar_pocket_monthly_df = cedar_pocket_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
cedar_pocket_monthly_df.index = cedar_pocket_monthly_df.index.strftime('%B')
cedar_pocket_monthly_df = cedar_pocket_monthly_df.groupby(['Date']).sum().reset_index()
cedar_pocket_monthly_df['Date'] = pd.Categorical(cedar_pocket_monthly_df['Date'], month_order)
cedar_pocket_monthly_df = cedar_pocket_monthly_df.sort_values('Date')

clarendon_monthly_df = clarendon_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
clarendon_monthly_df.index = clarendon_monthly_df.index.strftime('%B')
clarendon_monthly_df = clarendon_monthly_df.groupby(['Date']).sum().reset_index()
clarendon_monthly_df['Date'] = pd.Categorical(clarendon_monthly_df['Date'], month_order)
clarendon_monthly_df = clarendon_monthly_df.sort_values('Date')

cooloolabin_monthly_df = cooloolabin_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
cooloolabin_monthly_df.index = cooloolabin_monthly_df.index.strftime('%B')
cooloolabin_monthly_df = cooloolabin_monthly_df.groupby(['Date']).sum().reset_index()
cooloolabin_monthly_df['Date'] = pd.Categorical(cooloolabin_monthly_df['Date'], month_order)
cooloolabin_monthly_df = cooloolabin_monthly_df.sort_values('Date')

enoggera_monthly_df = enoggera_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
enoggera_monthly_df.index = enoggera_monthly_df.index.strftime('%B')
enoggera_monthly_df = enoggera_monthly_df.groupby(['Date']).sum().reset_index()
enoggera_monthly_df['Date'] = pd.Categorical(enoggera_monthly_df['Date'], month_order)
enoggera_monthly_df = enoggera_monthly_df.sort_values('Date')

ewen_maddock_monthly_df = ewen_maddock_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
ewen_maddock_monthly_df.index = ewen_maddock_monthly_df.index.strftime('%B')
ewen_maddock_monthly_df = ewen_maddock_monthly_df.groupby(['Date']).sum().reset_index()
ewen_maddock_monthly_df['Date'] = pd.Categorical(ewen_maddock_monthly_df['Date'], month_order)
ewen_maddock_monthly_df = ewen_maddock_monthly_df.sort_values('Date')

gold_creek_monthly_df = gold_creek_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
gold_creek_monthly_df.index = gold_creek_monthly_df.index.strftime('%B')
gold_creek_monthly_df = gold_creek_monthly_df.groupby(['Date']).sum().reset_index()
gold_creek_monthly_df['Date'] = pd.Categorical(gold_creek_monthly_df['Date'], month_order)
gold_creek_monthly_df = gold_creek_monthly_df.sort_values('Date')

hinze_monthly_df = hinze_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
hinze_monthly_df.index = hinze_monthly_df.index.strftime('%B')
hinze_monthly_df = hinze_monthly_df.groupby(['Date']).sum().reset_index()
hinze_monthly_df['Date'] = pd.Categorical(hinze_monthly_df['Date'], month_order)
hinze_monthly_df = hinze_monthly_df.sort_values('Date')

lake_kurwongbah_monthly_df = lake_kurwongbah_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
lake_kurwongbah_monthly_df.index = lake_kurwongbah_monthly_df.index.strftime('%B')
lake_kurwongbah_monthly_df = lake_kurwongbah_monthly_df.groupby(['Date']).sum().reset_index()
lake_kurwongbah_monthly_df['Date'] = pd.Categorical(lake_kurwongbah_monthly_df['Date'], month_order)
lake_kurwongbah_monthly_df = lake_kurwongbah_monthly_df.sort_values('Date')

lake_macdonald_monthly_df = lake_macdonald_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
lake_macdonald_monthly_df.index = lake_macdonald_monthly_df.index.strftime('%B')
lake_macdonald_monthly_df = lake_macdonald_monthly_df.groupby(['Date']).sum().reset_index()
lake_macdonald_monthly_df['Date'] = pd.Categorical(lake_macdonald_monthly_df['Date'], month_order)
lake_macdonald_monthly_df = lake_macdonald_monthly_df.sort_values('Date')

lake_manchester_monthly_df = lake_manchester_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
lake_manchester_monthly_df.index = lake_manchester_monthly_df.index.strftime('%B')
lake_manchester_monthly_df = lake_manchester_monthly_df.groupby(['Date']).sum().reset_index()
lake_manchester_monthly_df['Date'] = pd.Categorical(lake_manchester_monthly_df['Date'], month_order)
lake_manchester_monthly_df = lake_manchester_monthly_df.sort_values('Date')

lake_samsonvale_monthly_df = lake_samsonvale_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
lake_samsonvale_monthly_df.index = lake_samsonvale_monthly_df.index.strftime('%B')
lake_samsonvale_monthly_df = lake_samsonvale_monthly_df.groupby(['Date']).sum().reset_index()
lake_samsonvale_monthly_df['Date'] = pd.Categorical(lake_samsonvale_monthly_df['Date'], month_order)
lake_samsonvale_monthly_df = lake_samsonvale_monthly_df.sort_values('Date')

leslie_harrison_monthly_df = leslie_harrison_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
leslie_harrison_monthly_df.index = leslie_harrison_monthly_df.index.strftime('%B')
leslie_harrison_monthly_df = leslie_harrison_monthly_df.groupby(['Date']).sum().reset_index()
leslie_harrison_monthly_df['Date'] = pd.Categorical(leslie_harrison_monthly_df['Date'], month_order)
leslie_harrison_monthly_df = leslie_harrison_monthly_df.sort_values('Date')

little_nerang_monthly_df = little_nerang_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
little_nerang_monthly_df.index = little_nerang_monthly_df.index.strftime('%B')
little_nerang_monthly_df = little_nerang_monthly_df.groupby(['Date']).sum().reset_index()
little_nerang_monthly_df['Date'] = pd.Categorical(little_nerang_monthly_df['Date'], month_order)
little_nerang_monthly_df = little_nerang_monthly_df.sort_values('Date')

maroon_monthly_df = maroon_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
maroon_monthly_df.index = maroon_monthly_df.index.strftime('%B')
maroon_monthly_df = lake_macdonald_monthly_df.groupby(['Date']).sum().reset_index()
maroon_monthly_df['Date'] = pd.Categorical(maroon_monthly_df['Date'], month_order)
maroon_monthly_df = maroon_monthly_df.sort_values('Date')

moogerah_monthly_df = moogerah_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
moogerah_monthly_df.index = moogerah_monthly_df.index.strftime('%B')
moogerah_monthly_df = moogerah_monthly_df.groupby(['Date']).sum().reset_index()
moogerah_monthly_df['Date'] = pd.Categorical(moogerah_monthly_df['Date'], month_order)
moogerah_monthly_df = moogerah_monthly_df.sort_values('Date')

nindooinbah_monthly_df = nindooinbah_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
nindooinbah_monthly_df.index = nindooinbah_monthly_df.index.strftime('%B')
nindooinbah_monthly_df = nindooinbah_monthly_df.groupby(['Date']).sum().reset_index()
nindooinbah_monthly_df['Date'] = pd.Categorical(nindooinbah_monthly_df['Date'], month_order)
nindooinbah_monthly_df = nindooinbah_monthly_df.sort_values('Date')

poona_monthly_df = poona_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
poona_monthly_df.index = poona_monthly_df.index.strftime('%B')
poona_monthly_df = poona_monthly_df.groupby(['Date']).sum().reset_index()
poona_monthly_df['Date'] = pd.Categorical(poona_monthly_df['Date'], month_order)
poona_monthly_df = poona_monthly_df.sort_values('Date')

seq_water_grid_monthly_df = seq_water_grid_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
seq_water_grid_monthly_df.index = seq_water_grid_monthly_df.index.strftime('%B')
seq_water_grid_monthly_df = seq_water_grid_monthly_df.groupby(['Date']).sum().reset_index()
seq_water_grid_monthly_df['Date'] = pd.Categorical(seq_water_grid_monthly_df['Date'], month_order)
seq_water_grid_monthly_df = seq_water_grid_monthly_df.sort_values('Date')

somerset_monthly_df = somerset_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
somerset_monthly_df.index = somerset_monthly_df.index.strftime('%B')
somerset_monthly_df = somerset_monthly_df.groupby(['Date']).sum().reset_index()
somerset_monthly_df['Date'] = pd.Categorical(somerset_monthly_df['Date'], month_order)
somerset_monthly_df = somerset_monthly_df.sort_values('Date')

wappa_monthly_df = wappa_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
wappa_monthly_df.index = wappa_monthly_df.index.strftime('%B')
wappa_monthly_df = wappa_monthly_df.groupby(['Date']).sum().reset_index()
wappa_monthly_df['Date'] = pd.Categorical(wappa_monthly_df['Date'], month_order)
wappa_monthly_df = wappa_monthly_df.sort_values('Date')

wyaralong_monthly_df = wyaralong_df.groupby(pd.Grouper(key='Date', freq='1M')).sum()
wyaralong_monthly_df.index = wyaralong_monthly_df.index.strftime('%B')
wyaralong_monthly_df = wyaralong_monthly_df.groupby(['Date']).sum().reset_index()
wyaralong_monthly_df['Date'] = pd.Categorical(wyaralong_monthly_df['Date'], month_order)
wyaralong_monthly_df = wyaralong_monthly_df.sort_values('Date')

atkinson_monthly_df

         Date  Last Observation (%)  Last Observation (ML)
4     January                1765.6              536532.00
3    February                1736.3              527489.43
7       March                1452.2              441609.58
0       April                1120.4              340611.78
8         May                 997.9              303123.78
6        June                 862.3              261946.93
5        July                 819.0              248785.46
1      August                 858.5              260822.13
11  September                 759.2              230506.13
10    October                 928.9              282069.96
9    November                1118.4              339513.87
2    December                1723.9              523608.80

In [ ]:
# Plot - Dam Volume/Capacity

# Font families
font_1 = {'family':'helvetica','color':'black','size':16}
font_2 = {'family':'helvetica','color':'black','size':12}

plt.figure(figsize=(15,5))
plt.plot(seq_water_grid_df['Date'], seq_water_grid_df['Last Observation (%)'], color="blue", markersize='7', 
         linewidth=2)
#plt.bar(seq_water_grid_df['Date'], seq_water_grid_df['Last Observation (%)'], width=0.5, color='blue', alpha=0.5)

plt.title('SEQ rainwater catchment levels, April 2017 â€“ March 2022', fontdict = font_1)
plt.xlabel('Year', fontdict = font_2)
plt.ylabel('Volume/Capacity (%)', fontdict = font_2)
#plt.legend()

# Aesthetics

matplotlib.pyplot.grid(visible=True, which='both', axis='both', 
                       color='blue', alpha=0.1, dash_capstyle='butt', dash_joinstyle='bevel', 
                       linestyle='--', linewidth=1)

# interest_rates_df.plot(ax=ax, x_compat=True)

# ax.xaxis.set_major_locator(matplotlibdates.YearLocator(base=1))
# ax.xaxis.set_major_formatter(matplotlibdates.DateFormatter("%Y"))
        
        
plt.gca().spines['top'].set_visible(False)
plt.gca().spines['right'].set_visible(False)
plt.tight_layout()

# Show/save
#plt.savefig("/Users/minoperic/Data Analytics/Data Investigations/australian-interest-rates/Images/comparison.png", 
            #transparent=False, dpi=300)
plt.show()

In [ ]:
# Calculate averages by month

In [ ]:
# Calculate averages by decade